.card {
  width: 200;
  height: 200;
  border-radius: 15px;
  background-color: yellow;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.1);
}

.img {
  height: 200px;
  width: 200px;
}
.name {
  color: black;
}
.types {
  margin-bottom: 12px;
  color: black;
}
