.createPokemonContainer form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 800px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: yellow;
  border: 10px solid blue;
  border-radius: 20px;
  padding: 20px;
}
.inputsAndTypes {
  display: flex;
  gap: 2.5rem;
}
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 90px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs div {
  display: flex;
  flex-direction: column;
}
.typesCreate {
  display: grid;
  grid-template-columns: auto auto;
}
.types {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.errors {
  color: red;
}
.homeButton {
  margin-top: 15px;
  background-color: red;
  cursor: pointer;
  color: black;
  border-radius: 15px;
  border: 2px solid black;
  height: 50px;
  font-size: medium;
}
.homeButton:disabled {
  background-color: gray;
  color: rgb(74, 73, 73);
  border-color: rgb(61, 61, 61);
  opacity: 0.5;
}
