.LandingPage {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/FondoNaturalPokemon.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.buttonImage {
  border: 3px solid blue;
  border-radius: 20px;
  background-color: yellow;
  margin-top: 8rem;
  width: 150px;
  height: 80px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.buttonImage:hover {
  transform: scale(1.5);
}
.createdBy {
  height: 80px;
  width: 700px;
  display: flex;
  margin-top: 270px;
  justify-content: center;
  margin-left: 32rem;
}
.tittle {
  margin-top: 2rem;
}
