.input {
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 10px;
  height: 1.6rem;
}
.searchButton {
  background-color: yellowgreen;
  color: rgb(52, 101, 175);
  border: 2px solid blue;
  border-radius: 10px;
  height: 1.9rem;
}
.searchForm {
  height: 2rem;
}
